.page{
margin: none;
width: 100%;
height: 90%;
}
.header{
width: 100%;
text-align: center;
}
.footer{
width: 100%;
text-align:center;;
position: fixed;
bottom: 0px;
}
.nav{
width: 100%;
}
.a{
width: 100%;
}
.content{
text-align: center;
margin: none;
width: 100%;
padding: 0px;
height: 100%;
}
.melding{
font-size: 1.5rem;
color: red;
}
.albums{
border-radius: 50%;
}
.label{
    background-color: lightgray;
    height: 5%;
}
#mycanvas{
    width:330px;
    height:100px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #F7F387;
}