body{
    background-image:url(background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;

}
img{
    border: 5px solid;
 position: absolute;
      left: 600px;
    top: 150px;

 width:400px;
    height:200px;
}
button{
font-size: 50px;
    background-color:blue;

      position: relative;
      left: 700px;
    top: 400px;
    height: 160px;
    width: 160px;
    
      border-radius: 56%;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}


section{
    display: block;
    position: absolute;
      left: 1240px;
    top: 430px;


color: red;
  -webkit-animation-name: example1; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example1;
  animation-duration: 1s;
      animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example1 {
  0%   {color: silver;}
  25%  {color: black;}
  50%  {color: silver;}
  100% {color: black;}
         10%   {color: silver;}
  35%  {color: black;}
  59%  {color: silver;}
  90% {color: black;}
}

/* Standard syntax */
@keyframes example1 {
  0%   {color: silver;}
  25%  {color: black;}
  50%  {color: silver;}
  100% {color: black;}
         10%   {color: silver;}
  35%  {color: black;}
  59%  {color: silver;}
  90% {color: black;}
}

#button1{

    position: absolute;
    left: 300px;
    background-color: aqua;
}
#doot{
  
background-image: url(sans.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
  height: 80px;
    display:block;
      position: absolute;
    overflow: hidden;
    left: 1002px;
    top:615px;
     border-radius: 10%;
}
#waa{

     border: 5px solid;
  width: 400px;
  height: 200px;

  position: absolute;
   left: 900px;
    top: 155px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:black; left:900px; top:155px;}
  25%  {background-color:white; left:0px; top:100px;}
  50%  {background-color:black; left:0px; top:300px;}
  75%  {background-color:white; left:400px; top:300px;}
  100% {background-color:black; left:900px; top:155px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:black; left:900px; top:155px;}
  25%  {background-color:white; left:0px; top:100px;}
  50%  {background-color:black; left:0px; top:300px;}
  75%  {background-color:white; left:400px; top:300px;}
  100% {background-color:black; left:900px; top:155px;}
}
#wee {

     border: 5px solid;
  width: 400px;
  height: 200px;

  position: absolute;
   left: 300px;
    top:155px;
}

.annie{
      -webkit-animation-name: example2; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example2;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

.annie2{
      -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example2 {
  0%   {background-color:black; left:300px; top:155px;}
  25%  {background-color:white; left:100px; top:500px;}
  50%  {background-color:black; left:100px; top:500px;}
  75%  {background-color:white; left:1000px; top:9000px;}
  100% {background-color:black; left:300px; top:155px;}
}

/* Standard syntax */
@keyframes example2 {
  0%   {background-color:black; left:300px; top:155px;}
  25%  {background-color:white; left:100px; top:500px;}
  50%  {background-color:black; left:100px; top:500px;}
  75%  {background-color:white; left:1000px; top:9000px;}
  100% {background-color:black; left:300px; top:155px;}
}
#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#about {
  top: 50px;
  background-color: darkgreen;
}

#instructions {
  top: 180px;
  background-color: green;
}
.icon-bar {
  position: absolute;
  top: 56%;
    left:333px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}


.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}


.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
} 
ul {
    border-image: url(bone.jpg);
    position: absolute;
    top: 400px;
    left:10px
    width:350px;
        height:500px;
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: right;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 25%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
.glow {
  font-size: 20px;
  color: black;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow, 0 0 60px yellow, 0 0 70px yellow;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px orange, 0 0 40px orange, 0 0 50px orange, 0 0 60px orange, 0 0 70px orange, 0 0 80px orange;
  }
}
#woo:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s; 

  /* When the animation is finished, start again */
  animation-iteration-count: infinite; 
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
} 
#bap{
    background-image: url(background.png);
}





