@font1:'Raleway', sans-serif;
@hoofdkleur: darkred;
@font-face {
    font-family: verzonnennaam;
   src: url('Raleway');
    /*letertypen veranderen*/
}
html{
    font-family: verzonnennaam;
background-image:url(fire2.gif);
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100%;
      background-color: black;

}
#logo{
    width: 100%;
    margin-top: 0px;
    padding-top:30%;
    background-image: url(logo.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-color: black;
}
#logo2{
    width: 100%;
    margin-top: 0px;
    padding-top:30%;
    background-image: url(logo.jpg);
    background-repeat: no-repeat;
    background-position:center;
      background-color: black;
}
#logo3{
    width: 100%;
    margin-top: 0px;
    padding-top:30%;
    background-image: url(logo.jpg);
    background-repeat: no-repeat;
    background-position:center;
      background-color: black;
}
#logo4{
    width: 100%;
    margin-top: 0px;
    padding-top:30%;
    background-image: url(logo.jpg);
    background-repeat: no-repeat;
    background-position:center;
      background-color: black;
}
#personages{
    width: 100%;
    margin-top: 0px;
    padding-top:45%;
    background-image: url(personage%201.jpg);
    background-repeat: no-repeat;
    background-position:right;
    background-color: black;
}
#personages:hover{
      background-image: url(wings1.gif);
    background-size: 50%;
 
}
#personages1{
    width: 100%;
    margin-top: 0px;
    padding-top:40%;
    background-image: url(personage%202.jpg);
    background-repeat: no-repeat;
    background-position:right;
    background-color: black;
}
#personages1:hover{
      background-image: url(wings%202.gif);
    background-size: 50%;
 
}
#personages2{
    width: 100%;
    margin-top: 0px;
    padding-top:40%;
    background-image: url(personage%203.png);
    background-repeat: no-repeat;
    background-position:right;
    background-color: black;
}
#personages2:hover{
      background-image: url(wings%203.gif);
    background-size: 50%;
 
}
#personages3{
    width: 100%;
    margin-top: 0px;
    padding-top:40%;
    background-image: url(personage%204.png);
    background-repeat: no-repeat;
    background-position:right;
    background-color: black;
}
#personages3:hover{
      background-image: url(wings3.gif);
    background-size: 50%;
 
}
#personages4{
    width: 100%;
    margin-top: 0px;
    padding-top:40%;
    background-image: url(personage%205.jpg);
    background-repeat: no-repeat;
    background-position:right;
    background-color: black;
}
#personages4:hover{
      background-image: url( cainsmark.jpg);
    background-size: 50%;
  
 
}
#personages5{
    width: 100%;
    margin-top: 0px;
    padding-top:40%;
    background-image: url(personage%206.jpg);
    background-repeat: no-repeat;
    background-position:right;
    background-color: black;
}
#personages5:hover{
      background-image: url(wings5.gif);
    background-size: 50%;
 
}
#personages6{
    width: 100%;
    margin-top: 0px;
    padding-top:40%;
    background-image: url(personage%207.jpg);
    background-repeat: no-repeat;
    background-position:right;
    background-color: black;
}
#personages6:hover{
      background-image: url(wings%206.jpg);
    background-size: 50%;
 
}
#personages7{
    width: 100%;
    margin-top: 0px;
    padding-top:40%;
    background-image: url(personage%208.jpg);
    background-repeat: no-repeat;
    background-position:right;
    background-color: black;
}
#personages7:hover{
      background-image: url();
    background-size: 50%;
 
}
#personages8{
    width: 100%;
    margin-top: 0px;
    padding-top:40%;
    background-image: url(personage%209.jpg);
    background-repeat: no-repeat;
    background-position:right;
 background-color: black;
}
#personages8:hover{
      background-image: url();
    background-size: 50%;
 
}

#season{
    width: 100%;
    margin-top: 0px;
    padding-top:40%;
    background-image: url(season%201.jpg);
    background-repeat: no-repeat;
    background-position:right;
    background-color: black;
}

#season1{
    width: 100%;
    margin-top: 0px;
    padding-top:40%;
    background-image: url(season%202.jpg);
    background-repeat: no-repeat;
    background-position:right;
    background-color: black;
}
#season2{
    width: 100%;
    margin-top: 0px;
    padding-top:40%;
    background-image: url(season%203.jpg);
    background-repeat: no-repeat;
    background-position:right;
    background-color: black;
}
#season3{
    width: 100%;
    margin-top: 0px;
    padding-top:40%;
    background-image: url(season%204.jpg);
    background-repeat: no-repeat;
    background-position:right;
 background-color: black;
}
#season3:hover{
      background-image: url(fire3.gif);
    background-size: 50%;
 
}



a {
    font-family: @font1;
    text-decoration: none;
      background-color: black;

}
nav{
    float: center;
    font-family: @font1;
    width: 100%;
    margin: 5px;
    padding: 15px;
background-image:url(demonfire.gif);
 box-shadow: 4px 4px 10px rgba();
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100%;
      background-color: black;

        
    
}
nav ul li {
    display: inline;
    margin-right:7.5px;
}
nav ul li:after {
    content:  "  | ";
    margin-left: 7.5p;
}
nav ul li a {
    font-weight: bold;
    font-size: 140%;
    color: white;
}
nav ul li a:hover{
    color: darkred;
}
#banner {
    font-family: @font1;
    width:auto; 
        height:60%;
        background-color:black;
    color:white;
    margin: 0;
}

footer{
     
      font-family: @font1;
    background-color:black;
    color:red;
    position: absolute;
    top:150%;
    bottom:50%;
   
}
footerpersonage{
     
      font-family: @font1;
    background-color:black;
    color:red;
    position: relative;
    top:-50%;
    bottom:50%;
}
h1{
    font-family: @font1;
       margin:20;
 background-color: black;
    color: white;
}

